h2{
    font-size: xx-large;
    color: pink;
}
.contenedor{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 5%;
}
.card{
    margin: 1%;
}
.card-img-top{
    height: 11rem;
}
